auxiliar2-2024-2/
.git/
Proyecto_Inge_Soft/
Mineria/
Auxiliar_1-2024-2/
Grafica/
Memes/
__pycache__/
datadevdays23/
Inge_Soft/
Logaritmos/
Lenguajes/
venvs/
checker.py
neural-networks-and-deep-learning/
myenvs/
tarea-0-Jimol1711/
cc5905/
Pensa/
CC4303/
SOS/
PSS/
Redes/
Correcciones Memes/
auxiliar7-2024-2/
