auxiliar2-2024-2/
.git/
Proyecto_Inge_Soft/
Mineria/
Auxiliar_1-2024-2/
Grafica/
Memes/
__pycache__/
datadevdays23/
Inge_Soft/
Logaritmos/
Lenguajes/
venvs/
checker.py
neural-networks-and-deep-learning/
myenvs/
tarea-0-Jimol1711/
cc5905/
Pensa/
CC4303/
SOS/
PSS/
Redes/
Correcciones Memes/
auxiliar7-2024-2/
databases/
Sositos/
AppsWeb/
modeling-and-computer-graphics-for-engineers/
Gráfica/
Batos/
web-app-development/
computer-networks/
operating-systems/
system-programming/
Curso-Aprendizaje-de-Maquinas/
Patos/
mds_dsproject_classes_notes/
CEC/
massive-data-processing/
imperial-mds7201/
imperial-segmentacion-de-clientes/
version/
Exps/
safe-sync-branches.sh
sync-branches.sh
CEC-produccion.zip
agricolaml-erp/
quick-env/
Video Game Programming/
cpsc330-2025W1/
cpsc330-hw/
cpsc340/
cpsc340-hw/
cpsc425/
hw3/
AppliedMachineLearning_Project_3/
hw4/
cpsc330 hw/
AppliedMachineLearning_Project_7/
React-Features/
Full-Stack/
